@model List<Peters_A3.Models.Invoice>
@{
    ViewBag.Title = "Invoices";
}
<script src="~/Scripts/main.js"></script>

<h2>Invoices</h2>

<a href="/Invoices/Add/0">Add Invoice</a>

<div class="col-md-6">
    <div class="col-md-6">
        <input id="txtSearch" type="text" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-md-6">
        <input type="button" class="btn btn-info" value="Search" onclick="Sortable.Search();" />
    </div>
</div>

<table class="sortable table table-hover">
    <thead>
        <tr>
            <th onclick="Sortable.Sort(0);">Customer #</th>
            <th onclick="Sortable.Sort(1);">Date</th>
            <th onclick="Sortable.Sort(2);">Product Total</th>
            <th onclick="Sortable.Sort(3);">Sales Tax</th>
            <th onclick="Sortable.Sort(4);">Shipping</th>
            <th onclick="Sortable.Sort(5);">Invoice Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.CustomerID</td>
                <td>@invoice.InvoiceDate</td>
                <td>@invoice.ProductTotal</td>
                <td>@invoice.SalesTax</td>
                <td>@invoice.Shipping</td>
                <td>@invoice.ProductTotal</td>
                <td><a href="/Invoices/Add/@invoice.InvoiceID">Update</a></td>
                <td><a href="/Invoices/Delete/@invoice.InvoiceID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<script>
    Sortable.baseUrl = '/Invoices/Invoices/';
</script>